﻿<!-- InsertEmployee.razor -->
@page "/insertemployee"
@inject BlazorApp1.Data.MyService MyService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using BlazorApp1.Models
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations

@*<h3>Add Employee</h3>*@
<h1 class="colorBlue">
    Add Employee
</h1>
<div class="form-container">
    <EditForm Model="@employee" OnValidSubmit="AddEmployee">
        <DataAnnotationsValidator />
         <ul class="row forumBox">
            <li class="col-3 required">
                <label class="inputLabel">Employee Name:</label>
            </li>
            <li class="col-3 required">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.Empname" class="form-control" maxlength="100" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => employee.Empname)"></ValidationMessage>
                </div>
            </li>
            <li class="col-3 required">
                <label class="inputLabel">Employee Designation:</label>
            </li>
            <li class="col-3 required">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.EmpDesignation" class="form-control" maxlength="200" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => employee.EmpDesignation)"></ValidationMessage>
                </div>
            </li>
            <li class="col-3 required">
                <label class="inputLabel">Employee Salary:</label>
            </li>
            <li class="col-3 required">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="employee.EmpSalary" class="form-control" maxlength="20" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => employee.EmpSalary)"></ValidationMessage>
                </div>
            </li>
            <li class="col-3 required">
                <label class="inputLabel">Employee Gender:</label>
            </li>
            <li class="col-3 required">
                <div class="form_inputBox">
                    <InputRadioGroup @bind-Value="employee.EmpGender">
                        <InputRadio TValue="string" id="maleRadio" value="Male" />
                        <label for="maleRadio">Male</label>

                        <InputRadio TValue="string" id="femaleRadio" value="Female" />
                        <label for="femaleRadio">Female</label>
                    </InputRadioGroup>                   
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => employee.EmpGender)" />
                </div>
            </li>
            <li class="col-3 required">
                <label class="inputLabel">
                    Employee Email:
                </label>
            </li>
            <li class="col-3 required">
                <div class="form_inputBox">
                    <InputText @bind-Value="employee.EmpEmail" class="form-control" maxlength="20" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => employee.EmpEmail)"></ValidationMessage>
                </div>
            </li>
            <li class="col-3 required">
                <label class="inputLabel">
                    Employee Age:
                </label>
            </li>
            <li class="col-3 required">
                <div class="form_inputBox">
                    <InputNumber @bind-Value="employee.EmpAge" class="form-control" maxlength="5" />
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => employee.EmpAge)"></ValidationMessage>
                </div>
            </li>
            <li class="col-3 required">
                <label class="inputLabel">
                    Employee Skills:
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    @foreach (var skill in skills)
                    {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" @onclick="() => ToggleSkill(skill.SkillId)" />
                            <label class="form-check-label">@skill.SkillName</label>
                        </div>
                    }
                </div>
                <div class="erroeText">
                    <ValidationMessage For="@(() => selectedSkills)" />
                </div>
            </li>
            <li class="col-12 mt_20">
                <div class="form_btns">
                    <button type="submit" class="common_btn btnBlue">Save</button>
                </div>
            </li>
         </ul>
    </EditForm>
</div>