@page "/mypage"
@using BlazorApp1.Models;
@inject BlazorApp1.Data.MyService MyService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h4 class="popup_title">
    View Employee Details
</h4>
 <div class="table_detailsemply performance_table" >
    <div class="employee_table" style="margin-top: 10px;">
        <table width="100%" class="performance_table_scroll">
            <thead>
                <tr>
                    <th class="color_title">Name</th>
                    <th class="color_title">Designation</th>
                    <th width="15%" class="color_title">Salary</th>
                    <th class="color_title">Gender</th>
                    <th width="20%" class="color_title">Email</th>
                    <th width="20%" class="color_title">Age</th>
                    <th width="60%" class="color_title">Skills</th>
                    <th class="color_title"></th>
                </tr>
            </thead>
            <tbody>
                @if (Employees != null)
                {
                    @foreach (var employee in Employees)
                    {
                    <tr @onclick="() => NavigateToDetailsEmployee(employee.Empid)">
                            <td class="color_title">@employee.Empname</td>
                            <td class="color_title">@employee.EmpDesignation</td>
                            <td width="15%" class="color_title">@employee.EmpSalary</td>
                            <td class="color_title">@employee.EmpGender</td>
                            <td width="20%" class="color_title">@employee.EmpEmail</td>
                            <td width="20%" class="color_title">@employee.EmpAge</td>
                            <td width="60%" class="color_title">@employeeDetails[employee.Empid]</td>
                            <td class="btn">
                                <button class="common_btn btnBlue">Display</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
